@charset "utf-8"

html
  background: none
  
html,
body,
  min-height: 100% !important
  height: 100%

.site
  display: flex
  flex-direction: column
  min-height: 100vh
  background: $bodyblack

.site-content
  flex: 1

#header
  flex-shrink: 0
  margin: 2em 1em 0;