@charset "utf-8"

.home-video 
  position: absolute;
  height: 100vh
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

.home-text 
  color: white
  font-size: 1.1em
  margin: 0 0 2em 
  p
    margin: .5em 0 

.navbar
  background-color: $nada

.navbar-brand 
  .navbar-end
    &:hover
      background-color: $nada
  .navbar-item
    &:hover
      background-color: $nada
