.relatedposts
  padding: 50px 0

  h3
    margin-bottom: 20px

ul.related
  display: flex
  margin-left: 0

  li
    width: 33%
    display: block
    text-align: center
    margin-right: 12px
    line-height: 1.5em
    img
      border: 1px solid black;
    &:last-of-type
      margin-right: 0
